pre-trained models/*
dataset/*
*.pyc
.idea/
checkpoints/*
results/*
venv/*
skip_thought/*
*.tar
*.tar.gz
*.hdf5
.*
*.npy
*.npz
*.pkl
venv2/*
output/*
birdsdataset/*
checkpoints_gan/*
config_original.yaml
*.txt
